body {
      font-family: "Gill Sans", Calibri, Verdana, sans-serif;
      text-align: center;
}
img.slack-display-image {
      max-width: 320px;
      height: auto;
      vertical-align: bottom;
      padding: 0;
      margin: 0;
      border: none;
}
h1 {
      font-size: 31px;
}
p[data-testid="myTrack"] {
      font-size: 23px;
}
p[data-testid="currentUTCTime"] {
      font-size: 23px;
}
p[data-testid="currentDayOfTheWeek"] {
      font-size: 23px;
}
p[data-testid="githubURL"] {
      font-size: 23px;
}
a {
      text-decoration: none;
}
#currentUTCTime {
  font-style: italic;
  margin: 0;
  border: none;
  padding: 0;
}
